
module Tokens where

import Web.Twitter.Conduit
import Web.Authenticate.OAuth (OAuth(..), Credential(..))

tokens :: OAuth
tokens = twitterOAuth
-- Replace these with your oauth keys
    { oauthConsumerKey = error "You MUST specify oauthConsumerKey parameter."
    , oauthConsumerSecret = error "You MUST specify oauthConsumerSecret parameter."
    }

-- Do the First Run and then replace these "REPLACE ME" values with the correct keys
creds = Credential {unCredential = [("oauth_token","REPLACE ME"),
                                    ("oauth_token_secret","REPLACE ME"),
                                    ("user_id","REPLACE ME"),
                                    ("screen_name","REPLACE ME")]}
